@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.fronttitle {
    font-family: 'Share Tech Mono', monospace;
    font-size: 56px;
    color: #43D970 !important;
    text-align: center;
}

.green {
    color: #43D970 !important;
}

.nav-brand {
    font-family: 'Share Tech Mono', monospace;
    font-size: xx-large;
    color: #43D970 !important;
}

.normal {
    font-family: inherit;
    color: inherit;
}

.navbar-nav a:hover {
    text-decoration: none !important;
    color: #43D970 !important;
}

.basic {
    font-family: inherit !important;
    color: #777 !important;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}

textarea {
    width:100%;
}

.extra {
    width: 10%;
}
