{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1 class="fronttitle">Cipher</h1>
    <table class="table table-condensed">
        <tbody>
            <tr>
                <td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td>F</td><td>G</td><td>H</td><td>I</td><td>J</td><td>K</td>
                <td>L</td><td>M</td><td>N</td><td>O</td><td>P</td><td>Q</td><td>R</td><td>S</td><td>T</td><td>U</td><td>V</td>
                <td>W</td><td>X</td><td>Y</td><td>Z</td>
            </tr>
            <tr>
                <td>0</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td>
                <td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td>
                <td>21</td><td>22</td><td>23</td><td>24</td><td>25</td>
            </tr>
        </tbody>
    </table>
    <p>This is a web app that encodes and decodes simple ciphers. It currently supports:</p>
    <ul>
        <li><a class="green" href="/affine">Affine</a>, a monoalphabetic substitution cipher
        that transforms plaintext with the equation 'ax + b', where a and b are integers.</li>
        <li><a class="green" href="/caesar">Caesar</a>, a monoalphabetic substitution cipher
        that shifts plaintext with a numeric key.</li>
        <li><a class="green" href="/vigenere">Vigenère</a>, a polyalphabetic substitution
        cipher that transforms plaintext based on the use of a keyword.</li>
    </ul>
{% endblock %}